html {
  font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 1.25em;
}

body {
  margin: 0px;

  background-color: var(--background);
  color: var(--primary-content);
}

/***********************************************************************/
/* Formatting                                                          */
/***********************************************************************/

#gantt {
  width: 75%;
  margin: auto;
  margin-top: 10px;

  overflow-x: scroll;
}

/***********************************************************************/
/* Scrollbar                                                           */
/***********************************************************************/

::-webkit-scrollbar {
  width: 10px;
  background: var(--background-highlights);
}

::-webkit-scrollbar-track {
  background: var(--background-highlights);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-content);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-content);
}
